<?xml version='1.0' encoding='utf-8'?>
<widget id="com.richard.Noter" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Noter</name>
    <description>
        Noter is a simple app to write things down.
    </description>
    <author email="richardjimenez176@gmail.com" href="https://github.com/richardjimenezyolo/Noter">
        Richard Jimenez
    </author>
    <content src="index.html" />
    <icon src="res/icon.png" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
